@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');



*{
    box-sizing: border-box; 
} 
body{
    font-family: Arial, sans-serif;
    margin: 0;
}
header {
    background: rgb(25, 151, 223);
    padding-top: 60px;
    font-family: Ubuntu, sans-serif;
    color: white;
}
 
 
.header_content_container{
    padding-top: 50px;
    /* background-color:   yellowgreen; */
    align-items:center; 
    display: flex; 
}  
.header_content_container a{
    background-color: yellow;
    font-weight: bold;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 220px;
    display:  block;
    text-align: center;
    line-height: 60px;
    margin: 40px 0;
     
}
header p{
    margin: 40px 0;
    width: 400px;
    font-size: 17px;  
} 
h1, h2,h3,h4{
    font-family: Ubuntu, sans-serif; 
    font-weight: 700; 
}
h1{
     
    font-size: 40px;
    line-height: 48px;
    margin: 40px 0;
}
h2{
    margin: 0 auto;
    display:   block;
    text-align: center;
    font-size: 30px;
}
h3{
    width: 100%;
     
    font-size: 24px;
    text-align: center;
} 
.em1_1{
    font-size: 1.4em;
}
.center{
    margin: 0 auto;
    width: 1200px; 
} 

/*    section motivations */
.motivations{
    color: black;
    padding-top: 110px;
}
.motivations p{
    /* width: 100%; */
    text-align: center;
    font-size: 17px; 
}
.motivationlist{
    /* background-color:   yellowgreen; */
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.motivation_item{
    width: 289px;
    /* background-color:  cornflowerblue; */
}
 
.motivation_img{ 
    display:  block; 
    margin: 0 auto;
}



/* TICKET */
.ticketbg{
    /* background-color:   cadetblue; */
    background: rgb(236, 243, 248 );
}
.ticketboocking{
    padding: 105px 0;
}
.ticket_form{
    width: 344px;
    margin: 56px auto;
    margin-bottom: 0;
} 
.ticketinput{
    width: 100%;
    height: 49px;
    margin: 7px 0;
}
.ticketbutton{
    background: yellow;
    font-weight: bold;
    text-decoration: none;
    color: black;  
    text-align: center; 
    font-size: 19px;
}


/* footer */
footer{
    background: rgb(40, 60, 98 );
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 19px;
     
}